body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

/* NAVBAR */
.navbar {
    background: #0077b6;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

/* CONTAINER */
.container {
    display: flex;
    padding: 20px;
}

/* FORM */
.form-section {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.form-section button {
    width: 100%;
    padding: 10px;
    background: #0077b6;
    color: white;
    border: none;
}

/* TABLE */
.table-section {
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #0077b6;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* BUTTONS */
.edit {
    background: orange;
    color: white;
    border: none;
    padding: 5px 8px;
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
}

/* SEARCH */
.search-box {
    margin-bottom: 10px;
}