* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: white;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0077b6;
}

.navbar a {
    text-decoration: none;
    margin-left: 25px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: #0077b6;
}

/* HERO */

 .hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3') no-repeat center center/cover;
    position: relative;

}

.overlay {
    height: 100%;
    background: linear-gradient(rgba(0,119,182,0.7), rgba(0,0,0,0.6));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.overlay p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    padding: 12px 30px;
    background: white;
    color: #0077b6;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #caf0f8;
    transform: scale(1.05);
}

/* SERVICES */
.services {
    padding: 70px 20px;
    text-align: center;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    color: #0077b6;
    margin-bottom: 10px;
}

/* ABOUT */
.about {
    background: #eef6fb;
    padding: 60px 20px;
    text-align: center;
}

.about-content {
    max-width: 700px;
    margin: auto;
}

/* FOOTER */
.footer {
    background: #023e8a;
    color: white;
    text-align: center;
    padding: 20px;
}